
body{
background:#090606;
font-family:sans;
color:#fff;
}

a{color:$C;}

p0{
position:absolute;
transform:translateY(-50%);
top:50%;
left:8%;
right:8%;
filter:drop-shadow(2px 2px 10px #000);
}

p1{
display:flex;
align-items:center;
position:relative;
background:#222;
width:100%;
height:40px;
color:$C;
user-select:none;
}

.s0{width:10px;}

svg{
cursor:pointer;
filter:drop-shadow(0 0 3px #000);
}

.nf{
display:inline-block;
font-family:monospace;
font-size:0.9em;
}

#t0{
flex-grow:1;
margin-left:12px;
margin-right:12px;
position:relative;
cursor:pointer;
height:20px;
}

#vo{
width:7%;
margin-left:12px;
margin-right:12px;
position:relative;
cursor:pointer;
height:20px;
}

.tt{
position:absolute;
border-radius:3px;
height:4px;
margin-top:8px;
}

.t1{
background:#111;
width:100%;
}

#pp{
margin-top:9px;
height:2px;
right:0;
filter:drop-shadow(0 0 4px #000);
}

.pd{
background:$C;
margin-top:9px;
height:2px;
}

.dd{
width:12px;
height:12px;
background:$C;
border-radius:6px;
margin:4px -6px;
filter:drop-shadow(0 0 2px #000);
}

#t0:hover .pd{
background:#fff;
}

#t0:hover .dd{
background:#fff;
}
